
.social {
    height: auto;
    width: 28%;

    
    transition: all 0.3s ease-in-out;
}
.social:hover{
    transform: scale(1.2);
    filter: drop-shadow(0px 5px 5px $color_bk_card);
    rotate: -5deg;
}
    
