/* Style the input fields in the contact form */
input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}

/* Style the submit button in the contact form */
button[type="submit"] {
    background-color: $color_subtitule;
    color: $color_white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: $color_subtitule;
}