.formControl {
    display: flex;
    align-items: center;
    border: 1px solid $color_white;
    overflow: hidden;
    background-color: $color_back;
    color: $color_white;
    border-radius: 5px;
    
    input {
        border: 0;
        padding: 1rem;
        flex: 1;
    }
    
    button {
        border: 0;
        padding: 1rem;
    }
}
