$color_back:black;
$color_white:white;
$color_bk_card:rgba(255, 255, 255, 0.442);
$color_shadow:rgba(0, 0, 0, 0.3);
$color_gradient1:#a813c2;
$color_gradient2:#12d8ff;
$color_gradient3:#ea6302;
$color_gradient4:#f0e508;
$color_letter-1: rgb(224, 185, 9);
$color_letter-2: rgb(3, 211, 226);
$color_subtitule: rgb(1, 149, 3);
